@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=JetBrains+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Taprom&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Lora:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 13,17,23;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 13,17,23;
    --background-start-rgb: 13,17,23;
    --background-end-rgb: 13,17,23;
  }
}

body::-webkit-scrollbar {
  display: none;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


@font-face {
  font-family: "Valencia";
  src: url("/fonts/Valencia.ttf");
}

.wave {
  animation-name: wave-animation;
  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.1s;
  /* Change to speed up or slow down */
  animation-iteration-count: infinite;
  /* Never stop waving :) */
  transform-origin: 70% 70%;
  /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.Typewriter__wrapper {
  /* font-size: 2.2em !important; */
  color: #9cf5fd !important;
  /* font-weight: 600 !important; */
}

.Typewriter__cursor {
  /* font-size: 2.4em !important; */
  color: #ff5f9e !important;
}

.TypeScript{
background-color: #3178c6;
}
.JavaScript{
background-color: #f1e05a;
}
.Html{
background-color: #e34c26;
}
.Java{
background-color: #b07219;
}

 .mobile {
  right: 0;
  left: 40%;

}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* Two columns */
  /* grid-template-rows: repeat(4, auto); */
  gap: 20px;
  /* Adjust the gap between grid items */
}

.grid-item {
  margin-top:4px;
}
/* Define the grid placement for specific items */
.grid-item:nth-child(1) {
  grid-row: 1;
  grid-column: 1;
}

.grid-item:nth-child(2) {
  grid-row: 2;
  grid-column: 2;
}

.grid-item:nth-child(3) {
  grid-row: 3;
  grid-column: 1;
}
.spinner-box {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.circle-border {
  width: 120px;
  height: 120px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #e6edf3;
  background: linear-gradient(0deg, rgba(232, 249, 247, 0.1) 33%, #e6edf3 100%);
  animation: spin .8s linear 0s infinite;
}
.circle-core {
  width: 100%;
  height: 100%;
  background-color: #0D1117;
  border-radius: 50%;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(359deg);
  }
}
